@import url(/css/home.css);

@import url(/css/home.css);

.section-wishlist {
  display: grid;
  grid-template-columns: 100%;
  padding: 1rem 16rem;
}

.cart-section-items {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-direction: row;
  gap: 1rem;
}

.cart-section-summary {
  padding: 1rem;
  max-width: 16rem;
  position: sticky;
  top: 5rem;
  height: 80vh;
}

.bold {
  font-weight: 800;
}

.cart-list-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
/* 
.cart-item-price {
  line-height: 2rem;
} */

.card {
  background-color: #ffffff;
  border-radius: 0;
  border: 1px solid var(--fulvous-light);
}
